<div>
    <table>
        <thead>
            <tr>
                <th>Code Student</th>
                <th>Name Student</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Sent Date</th>
                <th>option</th>
            </tr>
        </thead>
        <tbody>
            {{#each email}}
            <tr>
                <td>{{this.codeStudent}}</td>
                <td>{{this.nameStudent}}</td>
                <td>{{this.emailStudent}}</td>
                <td>{{this.subject}}</td>
                <td>{{moment this.createdAt format ="DD MMM YYYY"}}</td>
                <td>
                    <button><a href="/announcement/detailForStudent/{{this._id}}">Detail</a></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>