<div class="main__announcementTeacher">
  <div class="table_announcementTeacher-header">
       <h2>List Teacher's Announcement</h2>
  </div>
  <div class="table_announcementTeacher-body">
    <table>
<thead>
  <tr>
    <th>Code Teacher</th>
    <th>Name Teacher</th>
    <th>Position</th>
    <th>Subject</th>
    <th>Select</th>
  </tr>
</thead>
<tbody>
{{#each teacher}}
<tr>
  <td>{{this.codeTeacher}}</td>
  <td>{{this.nameTeacher}}</td>
  <td>{{this.position}}</td>
  <td>{{this.subject}}</td>
  <td>
    <button><a href="/announcement/mailTeacher/{{this._id}}">Detail Mail</a></button>
    <button><a href="/announcement/sendMailTeacher/{{this._id}}">Send Mail</a></button>
  </td>
  
</tr>
{{/each}}
</tbody>
 </table>
 </div>
</div>