<div class="main__announcementStudents">
    <div class="table_announcementStudents-header">
         <h2>List Students's announcement</h2>
    </div>
    <div class="table_announcementStudents-body">
    <table>
        <thead>
            <tr>
                <th>Code Student</th>
                <th>Name Student</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Sent Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each email}}
            <tr>
                <td>{{this.codeStudent}}</td>
                <td>{{this.nameStudent}}</td>
                <td>{{this.emailStudent}}</td>
                <td>{{this.subject}}</td>
                <td>{{moment this.createdAt format ="DD/MM/YYYY"}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{#each pages}}
      <a href="/announcement/forStudent/?page={{this}}" data-page-company="{{this}}">{{this}}</a>
    {{/each}}
    </div>
</div>