<div>
    <table>
<thead>
  <tr>
    <th>Code Teacher</th>
    <th>Name Teacher</th>
    <th>Position</th>
    <th>Subject</th>
    <th>Select</th>
  </tr>
</thead>
<tbody>
{{#each teacher}}
<tr>
  <td>{{this.codeTeacher}}</td>
  <td>{{this.nameTeacher}}</td>
  <td>{{this.position}}</td>
  <td>{{this.subject}}</td>
  <td><a href="/announcement/mailTeacher/{{this._id}}">Detail Mail</a></td>
  <td><a href="/announcement/sendMailTeacher/{{this._id}}">Send Mail</a></td>
</tr>
{{/each}}
</tbody>
 </table>
</div>