<div class="main__Collect_tuition">
   
      <div class="form__Info-student" >  
        <div class="card__Info-student">
          <h2>Student Information</h2>
            <div class="form__card">
             <p>Code Student:</p>
             <p>{{student.codeStudent}}</p>
           </div>
           <div class="form__card">
             <p>Name:</p>
             <p>{{student.name}}</p>
           </div>
           <div class="form__card">
             <p>Class:</p>
             <p>{{student.class}}</p>
           </div>
           <div class="form__card">
             <p>Science:</p>
             <p>{{student.science}}</p>
           </div>
           <div class="form__card">
             <p>Email:</p>
             <p>{{student.emailStudent}}</p>
           </div>
           <div class="form__card">
             <p>Phone:</p>
             <p>{{student.phone}}</p>
           </div>
           <div class="form__card">
             <p>Day Admission:</p>
             <p>{{moment student.dayAdmission format ="DD MMM YYYY"}}</p>
           </div>
         </div>
         <div class="form__Registered-subject">
            <h2>List of registered courses</h2>
            <div class="list__Registered-select">
            <label for="session">Session :</label>
            <select id="registered-session">
              <option value="">...</option>
              <option value="">2020-2021</option>
              <option value="">2021-2022</option>
              <option value="">2022-2023</option>
              <option value="">2023-2024</option>
            </select>
             <label for="semester">Semester :</label>
            <select id="registered-semester">
              <option value="">...</option>
              <option value="">1st semester</option>
              <option value="">2nd semester</option>
            </select>           
        </div>
                <div class="table__Registered-subject">
  <table>
    <thead>
      <tr>
        <th>Code Subject</th>
        <th>Name of subject</th>
        <th>Science</th>
        <th>Semester</th>
        <th>Unit</th>
        <th>Course costs</th>
        <th>Start day</th>
        <th>End day</th>
      </tr>
    </thead>
    <tbody>
      {{#each tuition}}
      <tr>
        <td>{{this.code}}</td>
        <td>{{this.name}}</td>
        <td>{{this.science}}</td>       
        <td>{{this.time}}</td>
        <td>{{this.unit}}</td>
        <td>{{this.totalTuition}}</td>
        <td>1/2/2023</td>
        <td>1/5/2023</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
        </div>
        </div>
        <div class="form__Receipt-tuition">
  <h2>Invoice</h2>
  <div class="form__Show-receipt">
  <div class="form__card-receipt">
    <label for="receipt-code">Code Bill:</label>
    <input type="text" id="receipt-code" value="IN{{student.codeStudent}}" name="receipt-code">
  </div>
  <div class="form__card-receipt">
    <label for="student-name">Student name:</label>
    <input type="text" id="student-name" value="{{student.name}}" name="student-name">
  </div>
  <div class="form__card-receipt">
    <label for="class">class:</label>
    <input type="text" id="class" value="{{student.class}}" name="class">
  </div>
  <div class="form__card-receipt">
    <label for="session">Semester:</label>
    <select id="session" name="session">
      <option value="">...</option>
      <option value="2020-2021">2020-2021</option>
      <option value="2021-2022">2021-2022</option>
      <option value="2022-2023">2022-2023</option>
      <option value="2023-2024">2023-2024</option>
    </select>
  </div>
  <div class="form__card-receipt">
    <label for="total-credit">Total Science:</label>
    <input type="text" id="total-credit" value="1" name="total-credit">
  </div>
  <div class="form__card-receipt">
    <label for="total-cost">Total Tuition:</label>
    <input type="text" id="total-cost" name="total-cost">
  </div>
  <div class="form__card-receipt">
    <label for="paid">Amount paid:</label>
    <input type="text" id="paid" name="paid">
  </div>
  <div class="form__card-receipt">
    <label for="method">Payment methods:</label>
            <select id="method" name="method">
                <option value="cash">Cash</option>
                <option value="bank">Bank transfer</option>
            </select>
  </div>
  
  </div>
  
  <button type="submit"><a href="/tuition/managmenttuition/collecttuition/{{student._id}}/invoice">Sprint card</a></button>
  
</div>

    
</div>
{{!-- <div>
    <a href="/tuition/managementtuition">back</a>
</div>
<div>
    <a href="/tuition/managmenttuition/collecttuition/invoice">invoice</a>
</div> --}}