<div class="main__Collect_tuition">
    <div class="table__Collect-tuition">
      <div class="form__Info-student" >  
        <div class="card__Info-student">
          <h2>Thông tin học viên</h2>
            <div class="form__card">
             <p>MSSV:</p>
             <p>{{student.codeStudent}}</p>
           </div>
           <div class="form__card">
             <p>Họ và tên:</p>
             <p>{{student.name}}</p>
           </div>
           <div class="form__card">
             <p>lớp:</p>
             <p>{{student.class}}A</p>
           </div>
           <div class="form__card">
             <p>Khoa-khối:</p>
             <p>{{student.science}}</p>
           </div>
           <div class="form__card">
             <p>Email:</p>
             <p>{{student.emailStudent}}</p>
           </div>
           <div class="form__card">
             <p>Số điện thoại:</p>
             <p>{{student.phone}}</p>
           </div>
           <div class="form__card">
             <p>Ngày Nhập Học</p>
             <p>{{student.dayAdmission}}</p>
           </div>
         </div>
         <div class="form__Registered-subject">
            <h2>Danh sách những môn học đã đăng ký</h2>
            <div class="list__Registered-select">
            <label for="session">Session :</label>
            <select id="registered-session">
              <option value="">...</option>
              <option value="">2020-2021</option>
              <option value="">2021-2022</option>
              <option value="">2022-2023</option>
              <option value="">2023-2024</option>
            </select>
             <label for="semester">Semester :</label>
            <select id="registered-semester">
              <option value="">...</option>
              <option value="">1st semester</option>
              <option value="">2nd semester</option>
            </select>           
        </div>
                <div class="table__Registered-subject">
  <table>
    <thead>
      <tr>
        <th>Code Subject</th>
        <th>Name of subject</th>
        <th>Science</th>
        <th>Semester</th>
        <th>Unit</th>
        <th>Course costs</th>
        <th>Start day</th>
        <th>End day</th>
      </tr>
    </thead>
    <tbody>
      {{#each tuition}}
      <tr>
        <td>{{this.code}}</td>
        <td>{{this.name}}</td>
        <td>{{this.science}}</td>       
        <td>{{this.time}}</td>
        <td>{{this.unit}}</td>
        <td>{{this.totalTuition}}</td>
        <td>1/2/2023</td>
        <td>1/5/2023</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
        </div>
        </div>
        <div class="form__Receipt-tuition">
  <h2>Phiếu thu học phí</h2>
  <div class="form__Show-receipt">
  <div class="form__card-receipt">
    <label for="receipt-code">Mã phiếu thu:</label>
    <input type="text" id="receipt-code" name="receipt-code">
  </div>
  <div class="form__card-receipt">
    <label for="student-name">Họ và tên học viên:</label>
    <input type="text" id="student-name" name="student-name">
  </div>
  <div class="form__card-receipt">
    <label for="class">Lớp học:</label>
    <input type="text" id="class" name="class">
  </div>
  <div class="form__card-receipt">
    <label for="session">Học kỳ:</label>
    <select id="session" name="session">
      <option value="">...</option>
      <option value="2020-2021">2020-2021</option>
      <option value="2021-2022">2021-2022</option>
      <option value="2022-2023">2022-2023</option>
      <option value="2023-2024">2023-2024</option>
    </select>
  </div>
  <div class="form__card-receipt">
    <label for="total-credit">Tổng số tín chỉ:</label>
    <input type="text" id="total-credit" name="total-credit">
  </div>
  <div class="form__card-receipt">
    <label for="total-cost">Tổng học phí:</label>
    <input type="text" id="total-cost" name="total-cost">
  </div>
  <div class="form__card-receipt">
    <label for="paid">Đã đóng:</label>
    <input type="text" id="paid" name="paid">
  </div>
  <div class="form__card-receipt">
    <label for="method">Phương thức thanh toán:</label>
            <select id="method" name="method">
                <option value="cash">Tiền mặt</option>
                <option value="bank">Chuyển khoản ngân hàng</option>
            </select>
  </div>
  </div>
  <form action="/tuition/managmenttuition/collecttuition/invoice">
  <button type="submit">Sprint card</button>
  </form>
</div>

    </div>
</div>
{{!-- <div>
    <a href="/tuition/managementtuition">back</a>
</div>
<div>
    <a href="/tuition/managmenttuition/collecttuition/invoice">invoice</a>
</div> --}}