<div class="main__Collect_tuition">
   
      <div class="form__Info-student" >  
        <div class="card__Info-student">
          <h2>Student Information</h2>
            <div class="form__card">
             <p>Code Student:</p>
             <p>{{student.codeStudent}}</p>
           </div>
           <div class="form__card">
             <p>Name:</p>
             <p>{{student.name}}</p>
           </div>
           <div class="form__card">
             <p>Class:</p>
             <p>{{student.class}}</p>
           </div>
           <div class="form__card">
             <p>Science:</p>
             <p>{{student.science}}</p>
           </div>
           <div class="form__card">
             <p>Email:</p>
             <p>{{student.emailStudent}}</p>
           </div>
           <div class="form__card">
             <p>Phone:</p>
             <p>{{student.phone}}</p>
           </div>
           <div class="form__card">
             <p>Day Admission:</p>
             <p>{{moment student.dayAdmission format ="DD MMM YYYY"}}</p>
           </div>
         </div>
         <div class="form__Registered-subject">
            <h2>List of registered courses</h2>
                <div class="table__Registered-subject">
  <table>
    <thead>
      <tr>
        <th>Code Subject</th>
        <th>Name of subject</th>
        <th>Science</th>
        <th>Semester</th>
        <th>Unit</th>
        <th>Course costs</th>
      </tr>
    </thead>
    <tbody>
      {{#each tuition}}
      <tr>
        <td>{{this.code}}</td>
        <td>{{this.name}}</td>
        <td>{{this.science}}</td>       
        <td>{{this.semester}}</td>
        <td>{{this.unit}}</td>
        <td>{{this.totalTuition}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
        </div>
        </div>
  <form action="/tuition/tableTuition/collecttuition/{{tuitionStudent._id}}/edit?_method=PUT" method="post">
        <div class="form__Receipt-tuition">
  <h2>Invoice</h2>
  <div class="form__Show-receipt">
  <div class="form__card-receipt">
    <label for="codeStudent">Code Student:</label>
    <input type="text" id="codeStudent" value="{{tuitionStudent.codeStudent}}" name="codeStudent">
  </div>
  <div class="form__card-receipt">
    <label for="name">Student name:</label>
    <input type="text" id="name" value="{{tuitionStudent.name}}" name="name">
  </div>
  <div class="form__card-receipt">
    <label for="class">Science:</label>
    <input type="text" id="class" value="{{tuitionStudent.science}}" name="class">
  </div>
  <div class="form__card-receipt">
    <label for="subject">Payment methods:</label>
            <select id="subject" name="subject">
                <option value="Computing">Computing</option>
                <option value="Application">Application</option>
                <option value="Web">Web</option>
                <option value="Web">Vision's theory</option>
                <option value="Web">Principles of Graphic Design</option>
                <option value="Web">Letter Graphic Art</option>
                <option value="Web">Marketing</option>
                <option value="Web">Corporate Governance</option>
                <option value="Web">Logistic</option>
            </select>
  </div>
    <div class="form__card-receipt">
    <label for="tuition">Tuition:</label>
    <input type="text" id="tuition" value="{{tuitionStudent.tuition}}" name="tuition">
  </div>
    <div class="form__card-receipt">
    <label for="deadline">Dealine:</label>
    <input type="date" id="deadline" value="{{tuitionStudent.deadline}}" name="deadline">
  </div>
    <div class="form__card-receipt">
    <label for="status">Status:</label>
    <input type="text" id="status" value="Not been paid" name="status">
  </div>
  <button type="submit">Select tuition</button>
  </form>
  
  </div>
  
  {{!-- <button type="submit"><a href="/tuition/managmenttuition/collecttuition/{{student._id}}/invoice">Sprint card</a></button> --}}
  
</div>

    
</div>
{{!-- <div>
    <a href="/tuition/managementtuition">back</a>
</div>
<div>
    <a href="/tuition/managmenttuition/collecttuition/invoice">invoice</a>
</div> --}}