<div class="main__Teacher">
    <div class="table__Teacher-info">
      <div class="form__Info-teacher" >  
         <div class="card__Info-teacher">
          <h2>Thông tin giáo viên</h2>
            <div class="form__card-teacher">
             <p>Họ tên giáo viên:</p>
             <p>{{teacher.nameTeacher}}</p>
           </div>
           <div class="form__card-teacher">
             <p>Chức vụ:</p>
             <p>{{teacher.position}}</p>
           </div>
           <div class="form__card-teacher">
             <p>Mã giáo viên:</p>
             <p>{{teacher.codeTeacher}}</p>
           </div>
           <div class="form__card-teacher">
             <p>Tổ bộ môn:</p>
             <p>{{teacher.subject}}</p>
           </div>
           <div class="form__card-teacher">
             <p>Trình độ đào tạo:</p>
             <p></p>
           </div>
          </div>
          <div class="form__Level-history">
            <h2>Lịch sử cấp bậc</h2>
                    <div class="show__Level-history">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Ngạch/Hạng</th>
                    <th>Mã ngạch</th>
                    <th>Bậc lương</th>
                    <th>Hệ số lươngí</th>
                    <th>Mức lương</th>
                    <th>Ngày áp dụng ngạch/hạng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>xem phiếu thu</td>
                </tr>
            </tbody>
        </table>
        </div>
          </div>
        </div>
        <div class="form__Info-teacher">
            <div class="form__Role-history">
            <h2>Lịch sử cấp bậc</h2>
                    <div class="show__Role-history">
        <table>
            <thead>
                <tr>
                    <th>Chức vụ</th>
                    <th>Tổ bộ môn</th>
                    <th>Ngày áp dụng chức vụ </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>{{teacher.subject}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
         <div class="chart__Tuition">
                <h2>Bieu do bien dong luong</h2>
            </div>
    </div>
</div>