<div class="main_detailTB">
  <div class="table_detailTB-header">
    <h2>List Teacher's detail</h2>
  </div>
  <div class="table_detailTB-body">
    <form action="/teacher/detailTB/{{tableSalary._id}}/editSalary?_method=PUT" method="post">
<table>
<thead>
  <tr>
    <th>Name Teacher</th>
    <th>Position</th>
    <th>Glone Number</th>
    <th>Coefficients Salary</th>
    <th>Basic Salary</th>
    <th>Day Work</th>
    <th>Day Out</th>
    <th>Allowance</th>
    <th>Except Social Insurance</th>
    <th>Total Salary</th>
    <th>Option</th>
  </tr>
</thead>
<tbody>
<tr>
  <td>{{tableSalary.nameTeacher}}</td>
  <td>{{tableSalary.position}}</td>
  <td>{{tableSalary.gloneNumber}}</td>
  <td>{{tableSalary.coefficientsSalary}}</td>
  <td>{{tableSalary.basicSalary}}</td>
  <td>{{tableSalary.dayWork}}</td>
  <td><input type="text" id="dayOut" value="{{tableSalary.dayOut}}" name="dayOut"></td>
  <td>{{tableSalary.allowance}}</td>
  <td>{{tableSalary.exceptSocialInsurance}}</td>
  <td>{{tableSalary.totalSalary}}</td>
  <td>
    <button>
      <a href="/teacher/tableSalary/{{tableSalary.idS}}">Back</a>
      </button>
      </td>
</tr>
</tbody>
 </table>
 </form>
 </div>
 <button type="submit">Edit</button>
</div>