<div class="main__Teacher">
    <div class="table__Teacher-info">
      <div class="form__Info-teacher" >  
         <div class="card__Info-teacher">
          <h2>Thông tin giáo viên</h2>
            <div class="form__card-teacher">
             <p>Họ tên giáo viên:</p>
             <p>{{teacher.nameTeacher}}</p>
           </div>
           <div class="form__card-teacher">
             <p>Chức vụ:</p>
             <p>{{teacher.position}}</p>
           </div>
           <div class="form__card-teacher">
             <p>Mã giáo viên:</p>
             <p>{{teacher.codeTeacher}}</p>
           </div>
           <div class="form__card-teacher">
             <p>Tổ bộ môn:</p>
             <p>{{teacher.subject}}</p>
           </div>
           <div class="form__card-teacher">
             <p>Trình độ đào tạo:</p>
             <p>{{teacher.level}}</p>
           </div>
          </div>
        </div>
        <div class="form__Info-teacher">
          <div class="chart__Tuition">
            <h2>Bieu do bien dong luong</h2>
          </div>
        </div>
    <button type="submit"><a href="/teacher">Back</a></button>
</div>