<div class="main__History">
    <div class="table__History">
       <div class="table__History-invoice">
        <h2>Lịch sử thu học phí</h2>
        <div class="show__History">
        <table>
            <thead>
                <tr>
                    <th>code invoice</th>
                    <th>Ngày thu</th>
                    <th>Người nộp</th>
                    <th>Học Phí</th>
                    <th>Cách đóng</th>
                </tr>
            </thead>
            <tbody>
                {{#each invoice}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{moment this.createdAt format ="DD MMM YYYY"}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.tuition}}</td>
                    <td>{{this.method}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
       </div>
    </div>
</div>