<div>
<table>
<thead>
  <tr>
    <th>Name Teacher</th>
    <th>Position</th>
    <th>Glone Number</th>
    <th>Coefficients Salary</th>
    <th>Basic Salary</th>
    <th>Day Work</th>
    <th>Day Out</th>
    <th>Allowance</th>
    <th>Bonus</th>
    <th>Except Social Insurance</th>
    <th>Total Salary</th>
    <th>Note</th>
    <th>Option</th>
  </tr>
</thead>
<tbody>
<tr>
  <td>{{tableSalary.nameTeacher}}</td>
  <td>{{tableSalary.position}}</td>
  <td>{{tableSalary.gloneNumber}}</td>
  <td>{{tableSalary.coefficientsSalary}}</td>
  <td>{{tableSalary.basicSalary}}</td>
  <td>{{tableSalary.dayWork}}</td>
  <td>{{tableSalary.dayOut}}</td>
  <td>{{tableSalary.allowance}}</td>
  <td>{{tableSalary.bonus}}</td>
  <td>{{tableSalary.exceptSocialInsurance}}</td>
  <td>{{tableSalary.totalSalary}}</td>
  <td>{{tableSalary.note}}</td>
</tr>
</tbody>
 </table>
</div>