<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Code Teacher</th>
                    <th>Name Teacher</th>
                    <th>Subject</th>
                    <th>From day</th>
                    <th>To day</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {{#each onleave}}
                <tr>
                    <td>{{this.codeTeacher}}</td>
                    <td>{{this.nameTeacher}}</td>
                    <td>{{this.subject}}</td>
                    <td>{{moment this.fromday format ="DD MMM YYYY"}}</td>
                    <td>{{moment this.today format ="DD MMM YYYY"}}</td>
                    <td>{{this.reason}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div>
        <form method="post" action="/teacher/createlistOnLeave">
            <div>
                <label for="codeTeacher">Code Teacher</label>
                <input type="text" id="codeTeacher" name="codeTeacher">
            </div>
            <div>
                <label for="nameTeacher">Name Teacher</label>
                <input type="text" id="nameTeacher" name="nameTeacher">
            </div>
            <div>
                <lael for="subject">Subjectr</label>
                <input type="text" id="subject" name="subject">
            </div>
            <div>
                <lael for="fromday">Form day</label>
                <input type="date" id="fromday" name="fromday">
            </div>
            <div>
                <lael for="today">To day</label>
                <input type="date" id="today" name="today">
            </div>
            <div>
                <lael for="reason">Reason</label>
                <input type="text" id="reason" name="reason">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <button><a href="/teacher">Back</a></button>
    </div>
</div>