<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Code Teacher</th>
                    <th>Name Teacher</th>
                    <th>Subject</th>
                    <th>From day</th>
                    <th>To day</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {{#each onleave}}
                <tr>
                    <td>{{this.codeTeacher}}</td>
                    <td>{{this.nameTeacher}}</td>
                    <td>{{this.subject}}</td>
                    <td>{{moment this.fromday format ="DD MMM YYYY"}}</td>
                    <td>{{moment this.today format ="DD MMM YYYY"}}</td>
                    <td>{{this.reason}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div>
        <button><a href="/teacher">Back</a></button>
    </div>
</div>