<div class="main_mailTeacher">
    <div class="table_mailTeacher-show">
        <div class="table_mailTeacher-header">
            <h2>List send mail</h2>
        </div>
        <div class="table_mailTeacher-body">
    <table>
        <thead>
            <tr>
                <th>Code Student</th>
                <th>Name Student</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Sent Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each emailTeacher}}
                <tr>
                    <td>{{this.codeTeacher}}</td>
                    <td>{{this.nameTeacher}}</td>
                    <td>{{this.emailTeacher}}</td>
                    <td>{{this.subject}}</td>
                    <td>{{moment this.createdAt format ="DD MMM YYYY"}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</div>