<div class="table__Management_tuition">
    <section class="table__Management-fees_header">   
        <h2>Student list</h2>
        <div class="btn__Managementtuition-header">
          <input type="text" id="searchInput" placeholder="Search by status" oninput="resetSearch()">
          <button onclick="searchByStatus()">Search</button>
        </div>
    </section>
        <section class="table__Management-fees_body">
  <table>
    <thead>
      <tr>
        <th>Code Student</th>
        <th>Name</th>
        <th>Science</th>
        <th>Subject</th>
        <th>Tuition</th>
        <th>Dealine</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each tuitionStudent}}
      <tr>
        <td>{{this.codeStudent}}</td>
        <td>{{this.name}}</td>
        <td>{{this.science}}</td>
        <td>{{this.subject}}</td>
        <td>{{this.tuition}}.vnd</td>
        <td>{{moment this.dealine format ="DD MMM YYYY"}}</td>
        <td>{{this.status}}</td>
      </tr>
      {{/each}}    
    </tbody>
  </table>
  <div class="pagination">
    {{#each pages}}
      <a href="/tuition/tableTuitionfinal/{{@root.tableTId}}/?page={{this}}" data-page-company="{{this}}">{{this}}</a>
    {{/each}}
  </div>
</div>
</div>
</div>

<!-- sreach -->
<script>
    function searchByStatus() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector("table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function resetSearch() {
        var table, tr, i;
        table = document.querySelector("table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
        }
    }
</script>
