<div class="table__Management_tuition">
    <section class="table__Management-fees_header">
      
        <h2>Student list</h2>
        <div class="btn__Managementtuition-header">
          <form action="/tuition/reportTuition/{{TableT._id}}" method="post">
    <button type="submit">Total Tuition</button>
    </form>
  <form action="/tuition/tableTuition/{{TableT._id}}/createTS" method="post">
  <button type="submit">create</button>
  </form>
  </div>
</section>
        <section class="table__Management-fees_body">
  <table>
    <thead>
      <tr>
        <th>Code Student</th>
        <th>Name</th>
        <th>Science</th>
        <th>Subject</th>
        <th>Tuition</th>
        <th>Dealine</th>
        <th>Status</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      {{#each tuitionStudent}}
      <tr>
        <td>{{this.codeStudent}}</td>
        <td>{{this.name}}</td>
        <td>{{this.science}}</td>
        <td>{{this.subject}}</td>
        <td>{{this.tuition}}.vnd</td>
        <td>{{moment this.dealine format ="DD MMM YYYY"}}</td>
        <td>{{this.status}}</td>
        <td>
          <button><a href="/tuition/tableTuition/collecttuition/{{this._id}}">Chose tuition</a></button>
          <button><a href="/tuition/tableTuition/invoice/{{this._id}}">Tuition Patment</a></button>
          <form action="/tuition/tableTuition/sendMail/{{this._id}}" method="post">
          <button type="submit">Send Mail</button>
          </form>
        </td>
        
      </tr>
      {{/each}}    
    </tbody>
  </table>
  <div class="pagination">
    {{#each pages}}
      <a href="/tuition/tableTuition/{{@root.tableTId}}/?page={{this}}" data-page-company="{{this}}">{{this}}</a>
    {{/each}}
  </div>
</div>
</div>
</div>

