<div class="main_MC-teacher">
<div class="table_MC-teacher">
    <div class="table_MC-header">
        <h2>List Teacher</h2>
        <button>Create</button>
    </div>
    <div class="table_MC-body">
    <table>
        <thead>
            <tr>
                <th>Code Teacher</th>
                <th>Name Teacher</th>
                <th>Sex</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            {{#each teacher}}
            <tr>
                <td>{{this.codeTeacher}}</td>
                <td>{{this.nameTeacher}}</td>
                <td>{{this.sex}}</td>
                <td>{{this.emailTeacher}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.address}}</td>
                <td>
                    <form action="/teacher/deleteTeacher/{{this._id}}?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</div>
<div class="form_create_teacher_q center-form">
    <h2>Create Teacher</h2>
    <form method="post" action="/teacher/createTeacher">
    <div class="form_teacher_q">
        <label for="codeTeacher">Code Teacher</label>
        <input type="text" name="codeTeacher" id="codeTeacher">
    </div>
    <div class="form_teacher_q">
        <label for="nameTeacher">Name Teacher</label>
        <input type="text" name="nameTeacher" id="nameTeacher">
    </div>
    <div class="form_teacher_q">
        <label for="sex">Sex</label>
        <input type="text" name="sex" id="sex">
    </div>
    <div class="form_teacher_q">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="Date" name="dateOfBirth" id="dateOfBirth">
    </div>
    <div class="form_teacher_q">
        <label for="emailTeacher">email Teacher</label>
        <input type="text" name="emailTeacher" id="emailTeacher">
    </div>
    <div class="form_teacher_q">
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone">
    </div>
    <div class="form_teacher_q">
        <label for="address">Address</label>
        <input type="text" name="address" id="address">
    </div>
    <div class="form_teacher_q">
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject">
    </div>
    <div class="form_teacher_q">
        <label for="level">Level</label>
        <input type="text" name="level" id="level">
    </div class="form_teacher_q">
    <div class="form_teacher_q">
        <label for="position">Position</label>
        <input type="text" name="position" id="position">
    </div>
    <div class="form_teacher_q">
        <label for="dateStartWork">Date Start Work</label>
        <input type="Date" name="dateStartWork" id="dateStartWork">
    </div>
    <div class="form_teacher_q">
        <label for="citizenIdentificationNumber">Citizen Identification Number</label>
        <input type="text" name="citizenIdentificationNumber" id="citizenIdentificationNumber">
    </div>
    <div class="form_teacher_q">
        <label for="placeOfIssue">Place Of Issue</label>
        <input type="text" name="placeOfIssue" id="placeOfIssue">
    </div>
    <div class="form_teacher_q">
        <label for="basicSalary">Basic Salary</label>
        <input type="text" name="basicSalary" id="basicSalary">
    </div>
    <div>
        <button type="submit">Add new teacher</button>
    </div>
    </form>
    <button><a href="/teacher/MCTeacher">Back</a></button>
</div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var createButton = document.querySelector('.table_MC-header button');
    var formCreateTeacher = document.querySelector('.form_create_teacher_q');

    createButton.addEventListener('click', function () {
      formCreateTeacher.style.display = 'block';
    });
  });
</script>

{{!-- Confirm delete Teacher

<div class="modal fade" id="delete-teacher" tabindex="-1" aria-labelledby="delete-teacher" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-teacher">Delete Teacher</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        are you sure ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="btn-delete-teacher" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{{! delete hidden form }}
<form method="post" name="delete-teacher-form"></form>

<script>
    document.addEventListener('DOMContentLoad', function() {
        var TeacherId;
        var deleteForm = document.forms('delete-teacher-form');
        var btnDeleteTeacher = document.getElementById('btn-delete-teacher')

        $('#delete-teacher').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            TeacherId = button.data('id');
        })

        btnDeleteTeacher.onclick = function () {
            deleteForm.action = '/teacher/deleteTeacher/' + TeacherId + '?_method=DELETE';
            deleteForm.submit();
        }
    })
</script> --}}