<div>
    <form method="post" action="/register/apiregister">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
    </div>
    <div>
        <label for="fullname">Fullname</label>
        <input type="text" name="fullname" id="fullname">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone">
    </div>
    <div>
        <label for="role">role</label>
        <input type="text" name="role" id="role">
    </div>
    <div>
        <button type="submit">Add new user</button>
    </div>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>User name</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {{#each user}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.fullname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.role}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>