<div class="main_setting_regisster">
<div class="table_listRegister-show">
    <div class="table_listRegister-header">
        <h2>List User</h2>
        <button id="btn_create-register">Create Register</button>
    </div>
    <div class="table_listRegister-body">
    <table>
        <thead>
            <tr>
                <th>User name</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>option</th>
            </tr>
        </thead>
        <tbody>
            {{#each user}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.fullname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.role}}</td>
                <td>
                    <button class="btn_edit_user"><a href="/register/updateUser/{{this._id}}">Edit User</a></button>
                    <form action="/register/DU/{{this._id}}?_method=DELETE" method="post">
                        <button class="btn_delete_user" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    <div class="form_regisster_q">
        <div class="input_regisster_q">
    <h2>Create User</h2>
    <form method="post" action="/register/apiregister">
    <div class="form_user_q">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div class="form_user_q">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div class="form_user_q"> 
        <label for="fullname">Fullname</label>
        <input type="text" name="fullname" id="fullname">
    </div>
    <div class="form_user_q">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <div class="form_user_q">
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone">
    </div>
    <div class="form_user_q">
        <label for="role">role</label>
        <select name="role" id="role">
            <option>choose role</option>
            <option value="Admin">Admin</option>
            <option value="Manager">Manager</option>
            <option value="ManagerStudent">ManagerStudent</option>
            <option value="ManagerTeacher">ManagerTeacher</option>
        </select>
    </div>
    <div class="btn_create_user_q">
        <button type="submit">Add new user</button>
    </div>
    </form>
    </div>
</div>
</div>

<script>
    document.getElementById("btn_create-register").addEventListener("click", function () {
        var registerForm = document.querySelector(".form_regisster_q");
        if (registerForm.style.display === "none") {
            registerForm.style.display = "block";
        } else {
            registerForm.style.display = "none";
        }
    });
</script>