<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Code Salary</th>
                    <th>Name Salary</th>
                    <th>Salary Period</th>
                    <th>Total Salary Pay</th>
                    <th>Pay Salary</th>
                    <th>No Pay Salary</th>
                    <th>Status</th>
                    <th>option</th>
                </tr>
            </thead>
            <tbody>
                {{#each salary}}
                <tr>
                    <td>{{this.codeSalary}}</td>
                    <td>{{this.nameSalary}}</td>
                    <td>{{moment this.salaryPeriod1 format ="DD MMM YYYY"}} - {{moment this.salaryPeriod2 format ="DD MMM YYYY"}}</td>
                    <td>{{this.totalSalaryPay}}</td>
                    <td>{{this.paySalary}}</td>
                    <td>{{this.noPaySalary}}</td>
                    <td>{{this.statusSalary}}</td>
                    <td><a href="">chua co link</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div>
        <form method="post" action="/teacher/createSalary">
            <div>
                <label for="codeSalary">Code Salary</label>
                <input type="text" id="codeSalary" name="codeSalary">
            </div>
            <div>
                <label for="nameSalary">Name Salary</label>
                <input type="text" id="nameSalary" name="nameSalary">
            </div>
            <div>
                <lael for="salaryPeriod1">From Date</label>
                <input type="date" id="salaryPeriod1" name="salaryPeriod1">
            </div>
            <div>
                <lael for="salaryPeriod2">To day</label>
                <input type="date" id="salaryPeriod2" name="salaryPeriod2">
            </div>
            <div>
                <lael for="totalSalaryPay">Total Salary Pay</label>
                <input type="text" id="totalSalaryPay" name="totalSalaryPay">
            </div>
            <div>
                <lael for="paySalary">Pay Salary</label>
                <input type="text" id="paySalary" name="paySalary">
            </div>
            <div>
                <lael for="noPaySalary">No Pay Salary</label>
                <input type="text" id="noPaySalary" name="noPaySalary">
            </div>
            <div>
                <lael for="statusSalary">Status</label>
                <input type="text" id="statusSalary" name="statusSalary">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>