<div class="main__Salary--teacher">
    <div class="table__Salaryteacher-show">
        <div class="table__Salaryteacher-header">
            <h2>List Table Salary</h2>
        </div>
        <div class="table__Salaryteacher-body">
        <table>
            <thead>
                <tr>
                    <th>Code Salary</th>
                    <th>Name Salary</th>
                    <th>Salary Period</th>
                    <th>option</th>
                </tr>
            </thead>
            <tbody>
                {{#each salary}}
                <tr>
                    <td>{{this.codeSalary}}</td>
                    <td>{{this.nameSalary}}</td>
                    <td>{{moment this.salaryPeriod1 format ="DD MMM YYYY"}} - {{moment this.salaryPeriod2 format ="DD MMM YYYY"}}</td>
                    <td>
                        
                        {{#if this.isAfterToday}}
                        <button><a href="/teacher/tableSalary/{{this._id}}">Detail</a></button>
                        <button><a href="/teacher/exportExcel/{{this._id}}">Export Excel</a></button>
                        <form action="/teacher/deleteSalary/{{this._id}}?_method=DELETE" method="post">
                            <button type="submit">Delete</button>
                        </form>
                        {{else}}
                        <button><a href="/teacher/tableSalaryfinal/{{this._id}}">Detail</a></button>
                        <form action="/teacher/deleteSalary/{{this._id}}?_method=DELETE" method="post">
                            <button type="submit">Delete</button>
                        </form>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
    </div>
    <div class="Salary--months">
        <h2>Create Table salary</h2>
        <form class="type__create--Salary" method="post" action="/teacher/createSalary" width="100%">
            <div class="form-createSalary">
                <label for="codeSalary">Code Salary</label>
                <input type="text" id="codeSalary" name="codeSalary">
            </div>
            <div class="form-createSalary">
                <label for="nameSalary">Name Salary</label>
                <input type="text" id="nameSalary" name="nameSalary">
            </div>
            <div class="form-createSalary">
                <label for="salaryPeriod1">From Date</label>
                <input type="date" id="salaryPeriod1" name="salaryPeriod1">
            </div>
            <div class="form-createSalary">
                <label for="salaryPeriod2">To day</label>
                <input type="date" id="salaryPeriod2" name="salaryPeriod2">
            </div>
            <div class="btn-createSalary">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>