<div class="main__Salary">
    <section class="show__Salary--header">
        <h2>List of tuition fees for each semester</h2>
        <button>Create salary</button>
    </section>
    <section class="show__Salary--body">
        <table>
            <thead>
                <tr>
                    <th>Code Table Tuition</th>
                    <th>Name Table Tuition</th>
                    <th>Dealine</th>
                    <th>Table Tuition Period</th>
                    <th>option</th>
                </tr>
            </thead>
            <tbody>
                {{#each tableT}}
                <tr>
                    <td>{{this.codeTableT}}</td>
                    <td>{{this.nameTableT}}</td>
                    <td>{{moment this.dealine format ="DD MMM YYYY"}}</td>
                    <td>{{moment this.tableTPeriod1 format ="DD MMM YYYY"}} - {{moment this.tableTPeriod2 format ="DD MMM YYYY"}}</td>
                    <td>
                        <div class="list__tableTuition--option">
                        <button class="btn__detail--option"><a href="/tuition/tableTuition/{{this._id}}">Detail</a></button>
                        
                        <form action="/tuition/tableTuition/{{this._id}}?_method=DELETE" method="post" class="btn__delete--option">
                            <button type="submit">Delete</button>
                        </form>
                        <button class="btn__export--option"><a href="">Export Excel</a></button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    <div class="create__Salary--months">
        <h2>Create month's salary</h2>
        <form class="type__create--Salary" method="post" action="/tuition/createTT" width="100%">
            <div class="form-createSalary">
                <label for="codeTableT">Code Table Tuition</label>
                <input type="text" id="codeTableT" name="codeTableT">
            </div>
            <div class="form-createSalary">
                <label for="nameTableT">Name Table Tuition</label>
                <input type="text" id="nameTableT" name="nameTableT">
            </div>
            <div class="form-createSalary">
                <label for="dealine">Dealine</label>
                <input type="date" id="dealine" name="dealine">
            </div>
            <div class="form-createSalary">
                <label for="tableTPeriod1">From Date</label>
                <input type="date" id="tableTPeriod1" name="tableTPeriod1">
            </div>
            <div class="form-createSalary">
                <label for="tableTPeriod2">To day</label>
                <input type="date" id="tableTPeriod2" name="tableTPeriod2">
            </div>
            <div class="btn-createSalary">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var createSalaryButton = document.querySelector(".show__Salary--header button");
    var createSalaryMonths = document.querySelector(".create__Salary--months");

    createSalaryButton.addEventListener("click", function(event) {
      // Prevent the default behavior of the button (e.g., form submission)
      event.preventDefault();
      
      // Toggle the 'hidden' class on createSalaryMonths
      createSalaryMonths.classList.toggle("hidden");
    });
  });
</script>