<div class="main__table--Salary">
<div class="tableSalary-show">
  <div>
    <form action="/teacher/tableSalary/{{salary._id}}/createTS" method="post">
    <button type="submit">create</button>
    </form>
  </div>
<table>
<thead>
  <tr>
    <th>Name Teacher</th>
    <th>Position</th>
    <th>Basic Salary</th>
    <th>Day Work</th>
    <th>Day Out</th>
    <th>Allowance</th>
    <th>Except Social Insurance</th>
    <th>Total Salary</th>
    <th>Option</th>
  </tr>
</thead>
<tbody>
{{#each tableSalary}}
<tr>
  <td>{{this.nameTeacher}}</td>
  <td>{{this.position}}</td>
  <td>{{this.basicSalary}}</td>
  <td>{{this.dayWork}}</td>
  <td>{{this.dayOut}}</td>
  <td>{{this.allowance}}</td>
  <td>{{this.exceptSocialInsurance}}</td>
  <td>{{this.totalSalary}}</td>
  <td><a href="/teacher/detailTB/{{this._id}}">Detail</a></td>
</tr>
{{/each}}
</tbody>
 </table>
</div>
<div>
    <form action="/teacher/reportSalary/{{salary._id}}/createRS" method="post">
    <button type="submit">create</button>
    </form>
  </div>
 <div class="btn__Teacherback">
    <a href="/teacher/salary">Back</a>
</div>
</div>