<div class = "main_Teacher">
{{!-- <div>
  <button><a href="/teacher/listOnLeaveTeacher">Lịch sử nghỉ phép</a></button>
</div> --}}
<section class="table__Teacher--header">
  <H2>List Teachers</H2>
  <form action="/teacher/sreach" class="search_Teacher--input">
    <input type="text" id="nameTeacher" name="nameTeacher" placeholder="Search Teacher's name...">
  </form>
  <form action="/teacher/sreachS" class="search_Teacher--select">          
    <select name="subject" id="subject"> 
      <option value="">chose subject</option>
      <option value="IT">IT</option>
      <option value="Design">Design</option>
      <option value="Business">Business</option>
    </select>
    <button type="submit">Search</button>
  </form>
</section>
<section class="table__Teacher--body">
  <table>
<thead>
  <tr>
    <th>Code Teacher</th>
    <th>Name Teacher</th>
    <th>Position</th>
    <th>Subject</th>
    <th>onLeave</th>
    <th>Status</th>
    <th>Select</th>
  </tr>
</thead>
<tbody>
{{#each teacher}}
<tr>
  <td>{{this.codeTeacher}}</td>
  <td>{{this.nameTeacher}}</td>
  <td>{{this.position}}</td>
  <td>{{this.subject}}</td>
  <td>{{this.onLeave}}</td>
  <td>{{this.status}}</td>
  <td>
    <button class="btn_detail-Teacher"><a href="teacher/detailTeacher/{{this._id}}">Detail</a></button>
    <button class="btn_update-Teacher"><a href="teacher/updateTeacher/{{this._id}}">Update</a></button>
  </td>
</tr>
{{/each}}
</tbody>
 </table>
</section>
</div>