<div>
  <button><a href="/teacher/timesheetsTeacher">Bảng chấm công</a></button>
  <button><a href="/teacher/listOnLeaveTeacher">Lịch sử nghỉ phép</a></button>
</div>
<div>
  <form action="/teacher/sreach">
    <label for="nameTeacher">Sreach Teacher</label>
    <input type="text" id="nameTeacher" name="nameTeacher">
    <button type="submit">Sreach</button>
  </form>
</div>
<div>
  <table>
<thead>
  <tr>
    <th>Code Teacher</th>
    <th>Name Teacher</th>
    <th>Position</th>
    <th>Subject</th>
    <th>onLeave</th>
    <th>Status</th>
    <th>Select</th>
  </tr>
</thead>
<tbody>
{{#each teacher}}
<tr>
  <td>{{this.codeTeacher}}</td>
  <td>{{this.nameTeacher}}</td>
  <td>{{this.position}}</td>
  <td>{{this.subject}}</td>
  <td>{{this.onLeave}}</td>
  <td>{{this.status}}</td>
  <td><a href="teacher/detailTeacher/{{this._id}}">Detail</a></td>
  <td><a href="teacher/updateTeacher/{{this._id}}">Update</a></td>
  <td><a href="teacher/tableSalary/{{this._id}}">Table Salary</a></td>
</tr>
{{/each}}
</tbody>
 </table>
</div>