<div>
  <table>
<thead>
  <tr>
    <th>Code Teacher</th>
    <th>Name Teacher</th>
    <th>Position</th>
    <th>Subject</th>
    <th>onLeave</th>
    <th>Status</th>
    <th>Select</th>
  </tr>
</thead>
<tbody>
{{#each teacher}}
<tr>
  <td>{{this.codeTeacher}}</td>
  <td>{{this.nameTeacher}}</td>
  <td>{{this.position}}</td>
  <td>{{this.subject}}</td>
  <td>{{this.onLeave}}</td>
  <td>{{this.status}}</td>
  <td><a href="teacher/detailTeacher/{{this._id}}">Detail</a></td>
  <td><a href="teacher/updateTeacher/{{this._id}}">Update</a></td>
  <td><a href="teacher/tableSalary">Table Salary</a></td>
</tr>
{{/each}}
</tbody>
 </table>
</div>