<div class = "main_profileTeacher">
{{!-- <div>
  <button><a href="/teacher/listOnLeaveTeacher">Lịch sử nghỉ phép</a></button>
</div> --}}
<div>
  <form action="/teacher/sreach">
    <label for="nameTeacher">Sreach Teacher</label>
    <input type="text" id="nameTeacher" name="nameTeacher">
  </form>
  <form action="/teacher/sreachS">          
    <select name="subject" id="subject"> 
      <option value="">chose subject</option>
      <option value="IT">IT</option>
      <option value="Design">Design</option>
      <option value="Business">Business</option>
    </select>
    <button type="submit">Sreach</button>
  </form>
</div>
<div>
  <table>
<thead>
  <tr>
    <th>Code Teacher</th>
    <th>Name Teacher</th>
    <th>Position</th>
    <th>Subject</th>
    <th>onLeave</th>
    <th>Status</th>
    <th>Select</th>
  </tr>
</thead>
<tbody>
{{#each teacher}}
<tr>
  <td>{{this.codeTeacher}}</td>
  <td>{{this.nameTeacher}}</td>
  <td>{{this.position}}</td>
  <td>{{this.subject}}</td>
  <td>{{this.onLeave}}</td>
  <td>{{this.status}}</td>
  <td><a href="teacher/detailTeacher/{{this._id}}">Detail</a></td>
  <td><a href="teacher/updateTeacher/{{this._id}}">Update</a></td>
</tr>
{{/each}}
</tbody>
 </table>
</div>
</div>