<div class="main__timesheets">
<div class="form--timesheets">
   <div class="search--timesheets">
    <label for="searchInput">Tìm kiếm giáo viên:</label>
    <input type="text" id="searchInput" placeholder="Nhập tên giáo viên">

    <label >Hoc Ky:</label>
    <select >
        <option>Học kỳ 1</option>
        <option>Học kỳ 2</option>
    </select>
    
    <label >Tháng:</label>
    <select>
        <option>Tháng 1</option>
        <option>Tháng 2</option>
        <option>Tháng 3</option>
    </select>
</div>
   <div class="btn--timesheets">
   <button onclick="searchTeachers()">Tìm kiếm</button>
   </div>
   <div class="show--table__timesheets">
<table id="attendanceTable">
    <thead>
        <tr>
            <th>Code Teacher</th>
            <th>Name Teacher</th>
            <th>Subject</th>
            <th>Position</th>
            <th>Day Work</th>
            <th>Day Off</th>
            <th>Total Day Work</th>
            <th>Total Teaching Time(tiết)</th>
            <th>Delete Timesheets</th>
        </tr>
    </thead>
    <tbody>
        {{#each timesheets}}
        <tr>
            <td>{{this.codeTeacher}}</td>
            <td>{{this.nameTeacher}}</td>
            <td>{{this.subject}}</td>
            <td>{{this.position}}</td>
            <td>{{this.dayWork}}</td>
            <td>{{this.dayOff}}</td>
            <td>{{this.totalDayWork}}</td>
            <td>{{this.totalTeachingTime}}</td>
            <td>
                <form action="/teacher/deleteTimesheets/{{this._id}}?_method=DELETE" method="post">
                <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
</div>
<div>
    <form method="post" action="/teacher/createTimesheets">
    <div>
        <label for="codeTeacher">Code Teacher</label>
        <input type="text" id="codeTeacher" name="codeTeacher">
    </div>
    <div>
        <label for="nameTeacher">Name Teacher</label>
        <input type="text" id="nameTeacher" name="nameTeacher">
    </div>
    <div>
        <label for="subject">Subjectr</label>
        <input type="text" id="subject" name="subject">
    </div>
    <div>
        <label for="position">Position</label>
        <input type="text" id="position" name="position">
    </div>
    <div>
        <label for="dayWork">Day Work</label>
        <input type="text" id="dayWork" name="dayWork">
    </div>
    <div>
        <label for="dayOff">Day Off</label>
        <input type="text" id="dayOff" name="dayOff">
    </div>
    <div>
        <label for="totalDayWork">Total Day Work</label>
        <input type="text" id="totalDayWork" name="totalDayWork">
    </div>
    <div>
        <label for="totalTeachingTime">Total Teaching Time</label>
        <input type="text" id="totalTeachingTime" name="totalTeachingTime">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    </form>
</div>
<button><a href="/teacher">Back</a></button>
</div>