<div class="main__List_tuition">
    <div class="table__List-fees">
      <div class="session__List-fees">
            <label for="session">Session :</label>
            <select id="search-session">
              <option value="">...</option>
              <option value="">2020-2021</option>
              <option value="">2021-2022</option>
              <option value="">2022-2023</option>
              <option value="">2023-2024</option>
          </select>       
          </div>
        <div class="search__List-fees">
          {{!-- <input type="text" id="search-code" placeholder="Search by code"> --}}
          <select id="search-course" onchange="javascript:handleSelect(this)">
              <option value="">Chose</option>
              <option value="IT">IT</option>
              <option value="Design">Design</option>
              <option value="Business">Business</option>
          </select>
          <select id="search-status">
              <option value="">Chose</option>
              <option value="onl">Onl</option>
              <option value="off">Off</option>
          </select>          
          {{!-- <button id="button-form__search">Search</button> --}}
        </div>
             <div class="button__List-fees">
          
               <div class="form__List-fees">
                <button id="add-subject">Create tuition</button>
                <div id="add-new-subject">
                  <form method="post" action="/tuition/createTuition">
                  <div id="form__type" class="form-row">  
                  <label for="code">Code :</label>
                  <input type="text" id="code" name="code" placeholder="Code">
                  </div>
                  <div id="form__type" class="form-row">  
                  <label for="name">Course :</label>
                  <input type="text" id="name" name="name" placeholder="Course">
                  </div>
                  <div id="form__type" class="form-row">  
                  <label for="science">Subject :</label>
                  <input type="text" id="science" name="science" placeholder="Subject">
                  </div>
                  <div id="form__type" class="form-row">  
                  <label for="time">Semester :</label>
                  <input type="text" id="time" name="time" placeholder="Semester">
                  </div>
                  <div id="form__type" class="form-row">  
                  <label for="unit">Unit :</label>
                  <input type="text" id="unit" name="unit" placeholder="Unit">
                  </div>
                  <div id="form__type" class="form-row">  
                  <label for="tuitionOneUnit">Cost :</label>
                  <input type="text" id="tuitionOneUnit" name="tuitionOneUnit" placeholder="Course costs">
                  </div>
                  <div id="form__type" class="form-row">  
                  <label for="totalTuition">Payment :</label>
                  <input type="text" id="totalTuition" name="totalTuition" placeholder="All-course payment">
                  </div>
                  <div id="form__type" class="form-row">  
                  <label for="status">Status :</label>
                  <input type="text" id="status" name="status" placeholder="Status">
                  </div>
                  <div id="form__type" class="form-row">  
                  <button type="submit" id="add-button">Add</button>
                  </div>
                  </form>
                 </div>
              </div>
                <div class="table__List-show">
          <h2>Management of tuition</h2>
    <table>
        <thead>
              <tr>
                <th>Code</th>
                <th>Cousre</th>
                <th>Subject</th>
                <th>Semester</th>
                <th>Unit</th>
                <th>Course costs</th>
                <th>All-course payment</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="table-body">
         {{#each tuition}}
          <tr>
            <td>{{this.code}}</td>
            <td>{{this.name}}</td>
            <td>{{this.science}}</td>
            <td>{{this.time}}</td>
            <td>{{this.unit}}</td>
            <td>{{this.tuitionOneUnit}}</td>
            <td>{{this.totalTuition}}</td>
            <td>{{this.status}}</td>
          </tr>
        </tbody>
        {{/each}}  
    </table>
      </div>
    </div>
  </div>       
</div>


<script>
    var addNewButton = document.getElementById("add-subject");
  var addNewForm = document.getElementById("add-new-subject");
  
  addNewButton.addEventListener("click", function() {
    if (addNewForm.style.display === "none") {
      addNewForm.style.display = "flex";
    } else {
      addNewForm.style.display = "none";
    }
    
  });

  var addNewButton = document.getElementById("add-subject");
var addNewForm = document.getElementById("add-new-subject");

addNewButton.addEventListener("click", function() {
  addNewForm.classList.toggle("show");
});


function handleSelect(elm)
  {
     window.location = "tuition/sreach/" + elm.value;
  }
</script>
