<div class="main__updateTeacher">
  <form method="POST" action="/teacher/update/{{teacher._id}}?_method=PUT">
    <div class="table-inforTeacher">
  <h2>Bảng Thông Tin Giảng Viên</h2>
  <div class="show-update__Teacher">
     <div class="form-updateTeacher">
    <label for="codeTeacher">Mã giảng viên:</label>
    <input type="text" value="{{teacher.codeTeacher}}" id="codeTeacher" name="codeTeacher">
  </div>
  <div class="form-updateTeacher">
    <label for="nameTeacher">Họ và tên:</label>
    <input type="text" value="{{teacher.nameTeacher}}" id="nameTeacher" name="nameTeacher">
  </div>
  <div class="form-updateTeacher">
    <label for="sex">Giới tính:</label>
    <input type="text" value="{{teacher.sex}}" id="sex" name="sex">
  </div>
  <div class="form-updateTeacher">
    <label for="dateOfBirth">Ngày sinh:</label>
    <input type="date" value="{{teacher.dateOfBirth}}" id="dateOfBirth" name="dateOfBirth">
  </div>
  <div class="form-updateTeacher">
    <label for="emailTeacher">Email:</label>
    <input type="text" value="{{teacher.emailTeacher}}" id="emailTeacher" name="emailTeacher">
  </div>
  <div class="form-updateTeacher">
    <label for="phone">Điện thoại:</label>
    <input type="text" value="{{teacher.phone}}" id="phone" name="phone">
  </div>
  <div class="form-updateTeacher">
    <label for="address">Địa chỉ:</label>
    <input type="text" value="{{teacher.address}}" id="address" name="address">
  </div>
  <div class="form-updateTeacher">
    <label for="subject">Tổ bộ môn:</label>
    <input type="text" value="{{teacher.subject}}" id="subject" name="subject">
  </div>
  <div class="form-updateTeacher">
    <label for="level">Bằng cấp:</label>
    <input type="text" value="{{teacher.level}}" id="level" name="level">
  </div>
  <div class="form-updateTeacher">
    <label for="position">Chức vụ:</label>
    <input type="text" value="{{teacher.position}}" id="position" name="position">
  </div>
  <div class="form-updateTeacher">
    <label for="dateStartWork">Ngày bắt đầu công tác:</label>
    <input type="date" value="{{teacher.dateStartWork}}" id="dateStartWork" name="dateStartWork">
  </div>
  <div class="form-updateTeacher">
    <label for="citizenIdentificationNumber">Số CMND/CCCD:</label>
    <input type="text" value="{{teacher.citizenIdentificationNumber}}" id="citizenIdentificationNumber" name="citizenIdentificationNumber">
  </div>
  <div class="form-updateTeacher">
    <label for="placeOfIssue">Nơi cấp:</label>
    <input type="text" value="{{teacher.placeOfIssue}}" id="placeOfIssue" name="placeOfIssue">
  </div>
  </div>
    </div>
    <div class="table-updateSalary">
      <h2>Thông tin lương</h2>
      <div class="show-update__Salary">
      <div class="form-updateSalary">
    <label for="typeOfContract">Loại hợp đồng:</label>
    <input type="text" value="{{teacher.typeOfContract}}" id="typeOfContract" name="typeOfContract">
  </div>
  <div class="form-updateSalary">
    <label for="basicSalary">Lương cơ bản:</label>
    <input type="text" value="{{teacher.basicSalary}}" id="basicSalary" name="basicSalary">
  </div>
  <div class="form-updateSalary">
    <label for="glone">Ngạch/Hạng:</label>
    <input type="text" value="{{teacher.glone}}" id="glone" name="glone">
  </div>
  <div class="form-updateSalary">
    <label for="gloneNumber">Mã ngạch:</label>
    <input type="text" value="{{teacher.gloneNumber}}" id="gloneNumber" name="gloneNumber">
  </div>
  <div class="form-updateSalary">
    <label for="salaryScale">Bậc lương:</label>
    <input type="text" value="{{teacher.salaryScale}}" id="salaryScale" name="salaryScale">
  </div>
  <div class="form-updateSalary">
    <label for="coefficientsSalary">Hệ số lương:</label>
    <input type="text" value="{{teacher.coefficientsSalary}}" id="coefficientsSalary" name="coefficientsSalary">
  </div>
  <div class="form-updateSalary">
    <label for="dateApplyGlone">Ngày áp dụng ngành bậc:</label>
    <input type="date" value="{{teacher.dateApplyGlone}}" id="dateApplyGlone"  name="dateApplyGlone">
  </div>
   </div>
   <div class="button-update">
    <button type="submit" id="update-button">Submit</button>
    <button type="button" id="cancel-button" ><a href="/teacher">Cancel</a></button>
  </div>
  </div>
  </form>
</div>