<div>
    <form method="post" action="/register/UU/{{user._id}}?_method=PUT">
    <div>
        <label for="username">Username</label>
        <input type="text" value="{{user.username}}" name="username" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="fullname">Fullname</label>
        <input type="text" value="{{user.fullname}}" name="fullname" id="fullname">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" value="{{user.email}}" name="email" id="email">
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" value="{{user.phone}}" name="phone" id="phone">
    </div>
    <div>
        <label for="role">role</label>
        <input type="text" value="{{user.role}}" name="role" id="role">
    </div>
    <div>
        <button><a href="/register">Back</a></button>
        <button type="submit">Add new user</button>
    </div>
    </form>
</div>